<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.iot.dao.CallbackMsgLogMapper" >
  <resultMap id="BaseResultMap" type="com.newland.iot.model.CallbackMsgLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="msg_desc" property="msgDesc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, timestamp, code, msg_desc, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from callback_msg_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from callback_msg_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newland.iot.model.CallbackMsgLog" >
    insert into callback_msg_log (id, timestamp, code, 
      msg_desc, type)
    values (#{id,jdbcType=BIGINT}, #{timestamp,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, 
      #{msgDesc,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.iot.model.CallbackMsgLog" >
    insert into callback_msg_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="msgDesc != null" >
        msg_desc,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null" >
        #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.iot.model.CallbackMsgLog" >
    update callback_msg_log
    <set >
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null" >
        msg_desc = #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.iot.model.CallbackMsgLog" >
    update callback_msg_log
    set timestamp = #{timestamp,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      msg_desc = #{msgDesc,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>