<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.iot.dao.DataControlLogMapper" >
  <resultMap id="BaseResultMap" type="com.newland.iot.model.DataControlLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="system_id" property="systemId" jdbcType="INTEGER" />
    <result column="operation_id" property="operationId" jdbcType="VARCHAR" />
    <result column="device_no" property="deviceNo" jdbcType="VARCHAR" />
    <result column="terminal_no" property="terminalNo" jdbcType="BIGINT" />
    <result column="source_addr" property="sourceAddr" jdbcType="VARCHAR" />
    <result column="dest_addr" property="destAddr" jdbcType="VARCHAR" />
    <result column="request_msg" property="requestMsg" jdbcType="VARCHAR" />
    <result column="resp_msg" property="respMsg" jdbcType="VARCHAR" />
    <result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
    <result column="response_time" property="responseTime" jdbcType="TIMESTAMP" />
    <result column="error_code" property="errorCode" jdbcType="DECIMAL" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, system_id, operation_id, device_no, terminal_no, source_addr, dest_addr, request_msg, 
    resp_msg, request_time, response_time, error_code, error_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from data_control_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from data_control_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newland.iot.model.DataControlLog" >
    insert into data_control_log (id, system_id, operation_id, 
      device_no, terminal_no, source_addr, 
      dest_addr, request_msg, resp_msg, 
      request_time, response_time, error_code, 
      error_msg)
    values (#{id,jdbcType=BIGINT}, #{systemId,jdbcType=INTEGER}, #{operationId,jdbcType=VARCHAR}, 
      #{deviceNo,jdbcType=VARCHAR}, #{terminalNo,jdbcType=BIGINT}, #{sourceAddr,jdbcType=VARCHAR}, 
      #{destAddr,jdbcType=VARCHAR}, #{requestMsg,jdbcType=VARCHAR}, #{respMsg,jdbcType=VARCHAR}, 
      #{requestTime,jdbcType=TIMESTAMP}, #{responseTime,jdbcType=TIMESTAMP}, #{errorCode,jdbcType=DECIMAL}, 
      #{errorMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.iot.model.DataControlLog" >
    insert into data_control_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systemId != null" >
        system_id,
      </if>
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="deviceNo != null" >
        device_no,
      </if>
      <if test="terminalNo != null" >
        terminal_no,
      </if>
      <if test="sourceAddr != null" >
        source_addr,
      </if>
      <if test="destAddr != null" >
        dest_addr,
      </if>
      <if test="requestMsg != null" >
        request_msg,
      </if>
      <if test="respMsg != null" >
        resp_msg,
      </if>
      <if test="requestTime != null" >
        request_time,
      </if>
      <if test="responseTime != null" >
        response_time,
      </if>
      <if test="errorCode != null" >
        error_code,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="systemId != null" >
        #{systemId,jdbcType=INTEGER},
      </if>
      <if test="operationId != null" >
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null" >
        #{terminalNo,jdbcType=BIGINT},
      </if>
      <if test="sourceAddr != null" >
        #{sourceAddr,jdbcType=VARCHAR},
      </if>
      <if test="destAddr != null" >
        #{destAddr,jdbcType=VARCHAR},
      </if>
      <if test="requestMsg != null" >
        #{requestMsg,jdbcType=VARCHAR},
      </if>
      <if test="respMsg != null" >
        #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseTime != null" >
        #{responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errorCode != null" >
        #{errorCode,jdbcType=DECIMAL},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.iot.model.DataControlLog" >
    update data_control_log
    <set >
      <if test="systemId != null" >
        system_id = #{systemId,jdbcType=INTEGER},
      </if>
      <if test="operationId != null" >
        operation_id = #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null" >
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null" >
        terminal_no = #{terminalNo,jdbcType=BIGINT},
      </if>
      <if test="sourceAddr != null" >
        source_addr = #{sourceAddr,jdbcType=VARCHAR},
      </if>
      <if test="destAddr != null" >
        dest_addr = #{destAddr,jdbcType=VARCHAR},
      </if>
      <if test="requestMsg != null" >
        request_msg = #{requestMsg,jdbcType=VARCHAR},
      </if>
      <if test="respMsg != null" >
        resp_msg = #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseTime != null" >
        response_time = #{responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="errorCode != null" >
        error_code = #{errorCode,jdbcType=DECIMAL},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.iot.model.DataControlLog" >
    update data_control_log
    set system_id = #{systemId,jdbcType=INTEGER},
      operation_id = #{operationId,jdbcType=VARCHAR},
      device_no = #{deviceNo,jdbcType=VARCHAR},
      terminal_no = #{terminalNo,jdbcType=BIGINT},
      source_addr = #{sourceAddr,jdbcType=VARCHAR},
      dest_addr = #{destAddr,jdbcType=VARCHAR},
      request_msg = #{requestMsg,jdbcType=VARCHAR},
      resp_msg = #{respMsg,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      response_time = #{responseTime,jdbcType=TIMESTAMP},
      error_code = #{errorCode,jdbcType=DECIMAL},
      error_msg = #{errorMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>