<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.iot.dao.PpiVlueGroupCfgMapper" >
  <resultMap id="BaseResultMap" type="com.newland.iot.model.PpiVlueGroupCfg" >
    <id column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="terminal_id" property="terminalId" jdbcType="BIGINT" />
    <result column="slave_id" property="slaveId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="DA" property="da" jdbcType="VARCHAR" />
    <result column="SA" property="sa" jdbcType="VARCHAR" />
    <result column="FC" property="fc" jdbcType="VARCHAR" />
    <result column="DSAP" property="dsap" jdbcType="VARCHAR" />
    <result column="SSAP" property="ssap" jdbcType="VARCHAR" />
    <result column="reg_type" property="regType" jdbcType="VARCHAR" />
    <result column="reg_offset" property="regOffset" jdbcType="DECIMAL" />
    <result column="data_nums" property="dataNums" jdbcType="VARCHAR" />
    <result column="interval_time" property="intervalTime" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    group_id, group_name, terminal_id, slave_id, type, DA, SA, FC, DSAP, SSAP, reg_type, 
    reg_offset, data_nums, interval_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ppi_vlue_group_cfg
    where group_id = #{groupId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ppi_vlue_group_cfg
    where group_id = #{groupId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newland.iot.model.PpiVlueGroupCfg" >
    insert into ppi_vlue_group_cfg (group_id, group_name, terminal_id, 
      slave_id, type, DA, 
      SA, FC, DSAP, SSAP, 
      reg_type, reg_offset, data_nums, 
      interval_time, status)
    values (#{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{terminalId,jdbcType=BIGINT}, 
      #{slaveId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{da,jdbcType=VARCHAR}, 
      #{sa,jdbcType=VARCHAR}, #{fc,jdbcType=VARCHAR}, #{dsap,jdbcType=VARCHAR}, #{ssap,jdbcType=VARCHAR}, 
      #{regType,jdbcType=VARCHAR}, #{regOffset,jdbcType=DECIMAL}, #{dataNums,jdbcType=VARCHAR}, 
      #{intervalTime,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.iot.model.PpiVlueGroupCfg" >
    insert into ppi_vlue_group_cfg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="slaveId != null" >
        slave_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="da != null" >
        DA,
      </if>
      <if test="sa != null" >
        SA,
      </if>
      <if test="fc != null" >
        FC,
      </if>
      <if test="dsap != null" >
        DSAP,
      </if>
      <if test="ssap != null" >
        SSAP,
      </if>
      <if test="regType != null" >
        reg_type,
      </if>
      <if test="regOffset != null" >
        reg_offset,
      </if>
      <if test="dataNums != null" >
        data_nums,
      </if>
      <if test="intervalTime != null" >
        interval_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=BIGINT},
      </if>
      <if test="slaveId != null" >
        #{slaveId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="da != null" >
        #{da,jdbcType=VARCHAR},
      </if>
      <if test="sa != null" >
        #{sa,jdbcType=VARCHAR},
      </if>
      <if test="fc != null" >
        #{fc,jdbcType=VARCHAR},
      </if>
      <if test="dsap != null" >
        #{dsap,jdbcType=VARCHAR},
      </if>
      <if test="ssap != null" >
        #{ssap,jdbcType=VARCHAR},
      </if>
      <if test="regType != null" >
        #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regOffset != null" >
        #{regOffset,jdbcType=DECIMAL},
      </if>
      <if test="dataNums != null" >
        #{dataNums,jdbcType=VARCHAR},
      </if>
      <if test="intervalTime != null" >
        #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.iot.model.PpiVlueGroupCfg" >
    update ppi_vlue_group_cfg
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        terminal_id = #{terminalId,jdbcType=BIGINT},
      </if>
      <if test="slaveId != null" >
        slave_id = #{slaveId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="da != null" >
        DA = #{da,jdbcType=VARCHAR},
      </if>
      <if test="sa != null" >
        SA = #{sa,jdbcType=VARCHAR},
      </if>
      <if test="fc != null" >
        FC = #{fc,jdbcType=VARCHAR},
      </if>
      <if test="dsap != null" >
        DSAP = #{dsap,jdbcType=VARCHAR},
      </if>
      <if test="ssap != null" >
        SSAP = #{ssap,jdbcType=VARCHAR},
      </if>
      <if test="regType != null" >
        reg_type = #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regOffset != null" >
        reg_offset = #{regOffset,jdbcType=DECIMAL},
      </if>
      <if test="dataNums != null" >
        data_nums = #{dataNums,jdbcType=VARCHAR},
      </if>
      <if test="intervalTime != null" >
        interval_time = #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.iot.model.PpiVlueGroupCfg" >
    update ppi_vlue_group_cfg
    set group_name = #{groupName,jdbcType=VARCHAR},
      terminal_id = #{terminalId,jdbcType=BIGINT},
      slave_id = #{slaveId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      DA = #{da,jdbcType=VARCHAR},
      SA = #{sa,jdbcType=VARCHAR},
      FC = #{fc,jdbcType=VARCHAR},
      DSAP = #{dsap,jdbcType=VARCHAR},
      SSAP = #{ssap,jdbcType=VARCHAR},
      reg_type = #{regType,jdbcType=VARCHAR},
      reg_offset = #{regOffset,jdbcType=DECIMAL},
      data_nums = #{dataNums,jdbcType=VARCHAR},
      interval_time = #{intervalTime,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where group_id = #{groupId,jdbcType=BIGINT}
  </update>
</mapper>