<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.iot.dao.TerminalInfoMapper" >
  <resultMap id="BaseResultMap" type="com.newland.iot.model.TerminalInfo" >
    <id column="terminal_id" property="terminalId" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="terminal_type" property="terminalType" jdbcType="INTEGER" />
    <result column="terminal_name" property="terminalName" jdbcType="VARCHAR" />
    <result column="terminal_no" property="terminalNo" jdbcType="VARCHAR" />
    <result column="msisdn" property="msisdn" jdbcType="VARCHAR" />
    <result column="protocol_type" property="protocolType" jdbcType="INTEGER" />
    <result column="producer" property="producer" jdbcType="INTEGER" />
    <result column="gateway_no" property="gatewayNo" jdbcType="VARCHAR" />
    <result column="server_ip" property="serverIp" jdbcType="VARCHAR" />
    <result column="device_ip" property="deviceIp" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="heartbeat_time" property="heartbeatTime" jdbcType="TIMESTAMP" />
    <result column="interval_time" property="intervalTime" jdbcType="INTEGER" />
    <result column="trans_type" property="transType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="login_his_id" property="loginHisId" jdbcType="BIGINT" />
    <result column="gateway_type" property="gatewayType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    terminal_id, device_id, terminal_type, terminal_name, terminal_no, msisdn, protocol_type, 
    producer, gateway_no, server_ip, device_ip, login_time, heartbeat_time, interval_time, 
    trans_type, status, login_his_id, gateway_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from terminal_info
    where terminal_id = #{terminalId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from terminal_info
    where terminal_id = #{terminalId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newland.iot.model.TerminalInfo" >
    insert into terminal_info (terminal_id, device_id, terminal_type, 
      terminal_name, terminal_no, msisdn, 
      protocol_type, producer, gateway_no, 
      server_ip, device_ip, login_time, 
      heartbeat_time, interval_time, trans_type, 
      status, login_his_id, gateway_type
      )
    values (#{terminalId,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{terminalType,jdbcType=INTEGER}, 
      #{terminalName,jdbcType=VARCHAR}, #{terminalNo,jdbcType=VARCHAR}, #{msisdn,jdbcType=VARCHAR}, 
      #{protocolType,jdbcType=INTEGER}, #{producer,jdbcType=INTEGER}, #{gatewayNo,jdbcType=VARCHAR}, 
      #{serverIp,jdbcType=VARCHAR}, #{deviceIp,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{heartbeatTime,jdbcType=TIMESTAMP}, #{intervalTime,jdbcType=INTEGER}, #{transType,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{loginHisId,jdbcType=BIGINT}, #{gatewayType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newland.iot.model.TerminalInfo" >
    insert into terminal_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="terminalType != null" >
        terminal_type,
      </if>
      <if test="terminalName != null" >
        terminal_name,
      </if>
      <if test="terminalNo != null" >
        terminal_no,
      </if>
      <if test="msisdn != null" >
        msisdn,
      </if>
      <if test="protocolType != null" >
        protocol_type,
      </if>
      <if test="producer != null" >
        producer,
      </if>
      <if test="gatewayNo != null" >
        gateway_no,
      </if>
      <if test="serverIp != null" >
        server_ip,
      </if>
      <if test="deviceIp != null" >
        device_ip,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="heartbeatTime != null" >
        heartbeat_time,
      </if>
      <if test="intervalTime != null" >
        interval_time,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="loginHisId != null" >
        login_his_id,
      </if>
      <if test="gatewayType != null" >
        gateway_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="terminalId != null" >
        #{terminalId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="terminalType != null" >
        #{terminalType,jdbcType=INTEGER},
      </if>
      <if test="terminalName != null" >
        #{terminalName,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null" >
        #{terminalNo,jdbcType=VARCHAR},
      </if>
      <if test="msisdn != null" >
        #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null" >
        #{protocolType,jdbcType=INTEGER},
      </if>
      <if test="producer != null" >
        #{producer,jdbcType=INTEGER},
      </if>
      <if test="gatewayNo != null" >
        #{gatewayNo,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null" >
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="heartbeatTime != null" >
        #{heartbeatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intervalTime != null" >
        #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="loginHisId != null" >
        #{loginHisId,jdbcType=BIGINT},
      </if>
      <if test="gatewayType != null" >
        #{gatewayType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.iot.model.TerminalInfo" >
    update terminal_info
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="terminalType != null" >
        terminal_type = #{terminalType,jdbcType=INTEGER},
      </if>
      <if test="terminalName != null" >
        terminal_name = #{terminalName,jdbcType=VARCHAR},
      </if>
      <if test="terminalNo != null" >
        terminal_no = #{terminalNo,jdbcType=VARCHAR},
      </if>
      <if test="msisdn != null" >
        msisdn = #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null" >
        protocol_type = #{protocolType,jdbcType=INTEGER},
      </if>
      <if test="producer != null" >
        producer = #{producer,jdbcType=INTEGER},
      </if>
      <if test="gatewayNo != null" >
        gateway_no = #{gatewayNo,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        server_ip = #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null" >
        device_ip = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="heartbeatTime != null" >
        heartbeat_time = #{heartbeatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="intervalTime != null" >
        interval_time = #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="loginHisId != null" >
        login_his_id = #{loginHisId,jdbcType=BIGINT},
      </if>
      <if test="gatewayType != null" >
        gateway_type = #{gatewayType,jdbcType=INTEGER},
      </if>
    </set>
    where terminal_id = #{terminalId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.iot.model.TerminalInfo" >
    update terminal_info
    set device_id = #{deviceId,jdbcType=BIGINT},
      terminal_type = #{terminalType,jdbcType=INTEGER},
      terminal_name = #{terminalName,jdbcType=VARCHAR},
      terminal_no = #{terminalNo,jdbcType=VARCHAR},
      msisdn = #{msisdn,jdbcType=VARCHAR},
      protocol_type = #{protocolType,jdbcType=INTEGER},
      producer = #{producer,jdbcType=INTEGER},
      gateway_no = #{gatewayNo,jdbcType=VARCHAR},
      server_ip = #{serverIp,jdbcType=VARCHAR},
      device_ip = #{deviceIp,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      heartbeat_time = #{heartbeatTime,jdbcType=TIMESTAMP},
      interval_time = #{intervalTime,jdbcType=INTEGER},
      trans_type = #{transType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      login_his_id = #{loginHisId,jdbcType=BIGINT},
      gateway_type = #{gatewayType,jdbcType=INTEGER}
    where terminal_id = #{terminalId,jdbcType=BIGINT}
  </update>
</mapper>