<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.iot.dao.TerminalModbusCommandMapper" >
  <resultMap id="BaseResultMap" type="com.newland.iot.model.TerminalModbusCommand" >
    <id column="command_id" property="commandId" jdbcType="BIGINT" />
    <result column="command_name" property="commandName" jdbcType="VARCHAR" />
    <result column="terminal_id" property="terminalId" jdbcType="BIGINT" />
    <result column="slave_id" property="slaveId" jdbcType="INTEGER" />
    <result column="func_id" property="funcId" jdbcType="INTEGER" />
    <result column="start_reg" property="startReg" jdbcType="INTEGER" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="interval_time" property="intervalTime" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    command_id, command_name, terminal_id, slave_id, func_id, start_reg, length, interval_time, 
    type, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from terminal_modbus_command
    where command_id = #{commandId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from terminal_modbus_command
    where command_id = #{commandId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newland.iot.model.TerminalModbusCommand" >
    insert into terminal_modbus_command (command_id, command_name, terminal_id, 
      slave_id, func_id, start_reg, 
      length, interval_time, type, 
      status)
    values (#{commandId,jdbcType=BIGINT}, #{commandName,jdbcType=VARCHAR}, #{terminalId,jdbcType=BIGINT}, 
      #{slaveId,jdbcType=INTEGER}, #{funcId,jdbcType=INTEGER}, #{startReg,jdbcType=INTEGER}, 
      #{length,jdbcType=INTEGER}, #{intervalTime,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.iot.model.TerminalModbusCommand" >
    insert into terminal_modbus_command
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commandId != null" >
        command_id,
      </if>
      <if test="commandName != null" >
        command_name,
      </if>
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="slaveId != null" >
        slave_id,
      </if>
      <if test="funcId != null" >
        func_id,
      </if>
      <if test="startReg != null" >
        start_reg,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="intervalTime != null" >
        interval_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commandId != null" >
        #{commandId,jdbcType=BIGINT},
      </if>
      <if test="commandName != null" >
        #{commandName,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=BIGINT},
      </if>
      <if test="slaveId != null" >
        #{slaveId,jdbcType=INTEGER},
      </if>
      <if test="funcId != null" >
        #{funcId,jdbcType=INTEGER},
      </if>
      <if test="startReg != null" >
        #{startReg,jdbcType=INTEGER},
      </if>
      <if test="length != null" >
        #{length,jdbcType=INTEGER},
      </if>
      <if test="intervalTime != null" >
        #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.iot.model.TerminalModbusCommand" >
    update terminal_modbus_command
    <set >
      <if test="commandName != null" >
        command_name = #{commandName,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null" >
        terminal_id = #{terminalId,jdbcType=BIGINT},
      </if>
      <if test="slaveId != null" >
        slave_id = #{slaveId,jdbcType=INTEGER},
      </if>
      <if test="funcId != null" >
        func_id = #{funcId,jdbcType=INTEGER},
      </if>
      <if test="startReg != null" >
        start_reg = #{startReg,jdbcType=INTEGER},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=INTEGER},
      </if>
      <if test="intervalTime != null" >
        interval_time = #{intervalTime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where command_id = #{commandId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.iot.model.TerminalModbusCommand" >
    update terminal_modbus_command
    set command_name = #{commandName,jdbcType=VARCHAR},
      terminal_id = #{terminalId,jdbcType=BIGINT},
      slave_id = #{slaveId,jdbcType=INTEGER},
      func_id = #{funcId,jdbcType=INTEGER},
      start_reg = #{startReg,jdbcType=INTEGER},
      length = #{length,jdbcType=INTEGER},
      interval_time = #{intervalTime,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where command_id = #{commandId,jdbcType=BIGINT}
  </update>
</mapper>